@model Predictr.ViewModels.VM_CreatePrediction

@{
    ViewData["Title"] = "Create";
}

<h2>Make Prediction</h2>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="form-group">
                    <label asp-for="HomeTeam" class="control-label col-sm-2">@Html.DisplayFor(model => model.HomeTeam)</label>
                    <div class="col-sm-2">
                        <input asp-for="HomeScore" class="form-control" />
                    </div>
                    <span asp-validation-for="HomeScore" class="text-danger"></span>
                </div>
            </div>

            <div class="row">
                <div class="form-group">
                    <label asp-for="AwayTeam" class="control-label col-sm-2">@Html.DisplayFor(model => model.AwayTeam)</label>
                    <div class="col-sm-2">
                        <input asp-for="AwayScore" class="form-control" />
                    </div>
                    <span asp-validation-for="AwayScore" class="text-danger"></span>
                </div>
            </div>

            <div class="row">
                <div class="form-group">
                    <label asp-for="Joker" class="control-label col-sm-2">Joker</label>
                    <div class="col-sm-1">
                        <input asp-for="Joker"/>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group">
                    <label asp-for="DoubleUp" class="control-label col-sm-2">Double-Up</label>
                    <div class="col-sm-2">
                        <input asp-for="DoubleUp"/>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="MyPredictr" asp-action="Index">Back to MyPredictr</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
