@model Predictr.ViewModels.VM_League

@{
    ViewData["Title"] = "Index";
}

<h2>Predictr League Table</h2>


<table class="table">
    <thead>
        <tr>
            <th>
                Username
            </th>
            <th>
                Points
            </th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.PlayerScores)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName) @Html.DisplayFor(modelItem => item.Surname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalPoints)
                </td>
                
            </tr>
        }
    </tbody>
</table>
