@model IEnumerable<Predictr.ViewModels.VM_Fixture>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<table class="table table-condensed table-striped">
    <thead>
        <tr>
            <th class="col-md-4">
                Fixture
            </th>
            <th>
                Score
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MatchDetails)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Score)
                </td>
            </tr>
        }
    </tbody>
</table>
